:root {
    --primary: rgb(94, 97, 244);
    --bg: #05080f;
    --card: #0b1220;
    --text: #cbd5e1;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(180deg, #0a0f1a, var(--bg));
    color: var(--text);
}

/* NAV */
.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav a:hover {
    color: var(--primary);
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

/* BOX */
.box {
    background: var(--card);
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

h2 {
    color: var(--primary);
}

ul {
    padding-left: 20px;
}

li {
    margin: 12px 0;
}

/* BUTTON */
.btn-container {
    text-align: center;
    margin-top: 40px;
}

.btn {
    background: var(--primary);
    padding: 15px 35px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

/* FORM GLOBAL */
input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #111827;
    border: none;
    color: white;
    border-radius: 8px;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    width: 100%;
    padding: 15px;
    background: var(--primary);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

/* APPLY PAGE */
.apply-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.apply-card {
    width: 450px;
    background: var(--card);
    padding: 30px;
    border-radius: 16px;
}

.apply-title {
    text-align: center;
    color: var(--primary);
}

.apply-sub {
    text-align: center;
    font-size: 13px;
    color: #94a3b8;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    font-size: 14px;
    color: #94a3b8;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background: var(--primary);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.back {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #94a3b8;
    text-decoration: none;
}

/* MOBILE */
@media(max-width: 800px){
    .grid {
        grid-template-columns: 1fr;
    }
}
